.root {
  display: flex;
  width: 100%;
  max-width: 300px;
}

.user {
  position: relative;
  padding: 5px;
  cursor: pointer;
}

.self {
  order: -1;
}

.selectedUser {
  font-weight: 800;
}

.online::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: block;
  width: 4px;
  height: 4px;
  background-color: green;
  border-radius: 50%;
}