.root {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 32px);
  background-color: #f2f6fc;
  min-width: 100px;
  min-height: 100px;
  padding: 16px;
  border-radius: 16px;
}

.input {
  width: 100%;
}

.button {
  width: 70px;
  height: auto;
}